@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);
@import url(//fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap);

.heading{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left:20px;
    background: url('https://api.iconify.design/bi:arrow-left-circle-fill.svg') no-repeat center center / contain;
}
.imgRay{
    display: block;
    width: 70px;
    height: 70px;
    background: url('../images/icon.png') no-repeat center center / contain;
}

.widget {
  width: 100%;
  height: 100%;
  border: 10px solid lightgray;
  border-radius: 10px;
  padding: 40px 10px 40px 30px;
  /* margin: 80px 80px 80px 80px; */
  background-color: #cacaca24;
  /* background-color: rgb(255,250,250); */
  /* background-color: rgb(240,255,240); */
  /* background-color: rgb(245,255,250); */
  /* background-color: aliceblue; */
}

#imgoverall{
  width: 150px;
  height: 150px;
}

#overallsc{
  padding: 2px;
}

.quote{
  font-family: 'Coda Caption', sans-serif;
  font-size: 40px;
}

#showReview{
  padding-left: 20px;
  line-height: 40px;
  font-family: 'Padauk', sans-serif;
  font-size: 18px;
}

#feedback{
  font-family: 'Padauk', sans-serif;
}

.rayhub {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.rayhub h1,
.rayhub h2,
.rayhub h3,
.rayhub h4,
.rayhub h5,
.rayhub h6 {
  color: #3e4555;
}

.rayhub h5 {
    line-height: 22px;
    font-size: 18px;
		font-weight: 400;
}

.rayhub .font-weight-medium {
  font-weight: 500;
}

.rayhub .bg-light {
  background-color: #f4f8fa !important;
}

.rayhub .subtitle {

  line-height: 24px;
}

.rayhub .testi2 .image-thumb {
  background: url(../images/greadint-bg.png) no-repeat top center;
  background-size: 400px 400px;
  text-align: center;
  padding: 7% 0;
}

.rayhub .testi2 .image-thumb img {
  width: 250px;
  height: 250px;
}

.rayhub .testi2 .owl-dots {
  display: inline-block;
  position: relative;
  top: -100px;
}

.rayhub .testi2 .owl-dots .owl-dot {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-size: cover;
  margin-right: 10px;
  opacity: 0.4;
  cursor: pointer;
}

.rayhub .testi2 .owl-dots .owl-dot span {
  display: none;
}

.rayhub .testi2 .owl-dots .owl-dot.active,
.rayhub .testi2 .owl-dots .owl-dot:hover {
  opacity: 1;
}
@media (max-width: 575.98px) { 
    #widget{
        width: 100%;
    }
}

@media (max-width: 767px) {
  .rayhub .testi2 .owl-dots {
    top: 0px;
  }
}